<button class="btn btn__outline">Contact Us</button>       
<button class="btn btn__full btn__white">Download Free</button> 
<button class="btn btn__full btn__blue btn__wide">anas.chahid@gmail.com</button>  
<button class="btn-subscribe">GET THE APP TODAY</button>   
<button class="btn__social btn-fb">
    <ion-icon name="logo-facebook"></ion-icon>
</button>     

<button class="btn__social btn-twitter">
    <ion-icon name="logo-twitter"></ion-icon>
</button> 

<button class="btn__social btn-insta">
    <ion-icon name="logo-instagram"></ion-icon>
</button>  