<!--Card Long-->
<div class="card card-long">
    <img src="images/cart.svg" class="card__image" alt="shopping cart">
    <h3 class="card__header">First 7 Days Free</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div>   

<div class="card card-long">
    <img src="images/roller.svg" class="card__image" alt="paint roller">
    <h3 class="card__header">Modern Flat Design</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div> 

<div class="card card-long">
    <img src="images/phone.svg" class="card__image" alt="phone">
    <h3 class="card__header">User Friendly</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div> 

<div class="card card-long">
    <img src="images/message.svg" class="card__image" alt="message">
    <h3 class="card__header">Full Support</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div> 

<!--Card wide-->


<div class="card card-wide">
    <div class="card__heading">
        <img src="images/heart.svg" class="card__image" alt="heart">
        <h3 class="card__header">Made With Love</h3>
    </div>
    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
</div> 

<div class="card card-wide">
    <div class="card__heading">
        <img src="images/work.svg" class="card__image" alt="suitecase">
        <h3 class="card__header">Full Support Available</h3>
    </div>
    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
</div> 

<div class="card card-wide">
    <div class="card__heading">
        <img src="images/ticket.svg" class="card__image" alt="ticket">
        <h3 class="card__header">Free Of Use</h3>
    </div>
    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
</div> 

<div class="card card-wide">
    <div class="card__heading">
        <img src="images/design.svg" class="card__image" alt="pen and ruller">
        <h3 class="card__header">Flat and Modern Ui & UX</h3>
    </div>
    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
</div> 