<div class="card card-long">
    <img src="images/cart.svg" class="card__image" alt="shopping cart">
    <h3 class="card__header">First 7 Days Free</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div>   

<div class="card card-long">
    <img src="images/roller.svg" class="card__image" alt="paint roller">
    <h3 class="card__header">Modern Flat Design</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div> 

<div class="card card-long">
    <img src="images/phone.svg" class="card__image" alt="phone">
    <h3 class="card__header">User Friendly</h3>
    <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla atque dicta praesentium perferendis, natus minus?</p>
</div> 