<div class="footer grid1x4">
    <div class="footer-description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugiat placeat 
        </p>
        <p class="copyright">Created by Anas Chahid, Oujda, Morocco <br/><br/>2017 - Skillmaker</p>
    </div>

    <div class="footer-links">
        <li class="list list-header">TEST</li>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
    </div>

    <div class="footer-links">
        <li class="list list-header">TEST</li>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
        <a href="" class="link link-footer">
            <li class="list">TEST</li>
        </a>
    </div>

    <div class="footer-social">
        <li class="list list-header">Contact Us</li>
        <p class="footer-description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        <button class="btn btn__full btn__blue btn__wide">anas.chahid@gmail.com</button>
        
        <div class="footer-buttons">
            <button class="btn__social btn-fb">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>     
            
            <button class="btn__social btn-twitter">
                <ion-icon name="logo-twitter"></ion-icon>
            </button> 
            
            <button class="btn__social btn-insta">
                <ion-icon name="logo-instagram"></ion-icon>
            </button>  
        </div>
    </div>
</div>