
  <div class="support">



    <div class="support_description">
    
      <div class="head_descr">
        <h2 class="h_d_heading">Stable And Ready</h2>
        <p class="h_d_text">Cras ultricies ligula sed magna dictum porta. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam.</p>
        <button class="btn btn__full btn__blue">Download Free</button>
      </div>
    
    </div>
    
      <div class="cards_wides">
        <div class="card card-wide">
          <div class="card__heading">
              <img src="images/heart.svg" class="card__image" alt="heart">
              <h3 class="card__header">Made With Love</h3>
          </div>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
        </div> 
        
        <div class="card card-wide">
          <div class="card__heading">
              <img src="images/work.svg" class="card__image" alt="suitecase">
              <h3 class="card__header">Full Support Available</h3>
          </div>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
        </div> 
        
        <div class="card card-wide">
          <div class="card__heading">
              <img src="images/ticket.svg" class="card__image" alt="ticket">
              <h3 class="card__header">Free Of Use</h3>
          </div>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
        </div> 
        
        <div class="card card-wide">
          <div class="card__heading">
              <img src="images/design.svg" class="card__image" alt="pen and ruller">
              <h3 class="card__header">Flat and Modern Ui & UX</h3>
          </div>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ullam eligendi veritatis distinctio ut amet.</p>
        </div>
      </div> 
    
    </div>